.splash {
    position: absolute;
    padding: 48px;
    z-index: 8;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path(
      "M 0 227.625 C 0 219.3405 4.4975 213.82575 10 212.625 L 230 164.625 C 235.0425 163.52475 240 171.3405 240 179.625 L 250 322.5 C 250 330.7845 245.523 337.5 240 337.5 L 10 337.5 C 4.477 337.5 0 330.7845 0 322.5 Z"
    );
}
  