.splash {
    position: absolute;
    padding: 48px;
    z-index: 8;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path(
      "M 0 212.45 C 0 204.7178 6.2965 199.5707 14 198.45 L 322 153.65 C 329.0595 152.6231 336 160.1178 336 167.65 L 350 301 C 350 308.7322 343.7322 315 336 315 L 14 315 C 6.2678 315 0 308.7322 0 301 Z"
    );
}
  