@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply font-roboto font-bold text-[80px] leading-[80px];
      }
      .m1 {
        @apply font-roboto font-bold text-[50px] leading-[80px];
      }
      .h2 {
        @apply font-roboto font-semibold text-[24px] leading-[35px];
      }
      .button-text {
        @apply font-roboto font-medium text-[16px];
      }
      .p1 {
        @apply font-roboto font-semibold text-[16px] leading-[32px];
      }
   
      .links {
        @apply font-roboto font-medium text-[16px] leading-[150%]
      }
   
      .p2 {
        @apply font-roboto font-normal text-[16px] leading-[150%];
      }
}

html {
    min-height: 100vh;
  }
 
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  } 
  
  main {
    flex: 1 0 auto;
  }
  
 
  
  /* start welcome animation */
  
  .welcome {
    background-color: #DDA0DD;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  .welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid #DDA0DD;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
  
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
  
  .welcome #welcome {
    background: white ;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  }
     
  /* moveIn */
  .welcome header,
  .welcome a.btn {
    opacity: 0;
    animation: moveIn 2s 3.1s ease forwards;
    overflow: hidden;
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 100px;
      height: 100px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes borderRadius {
    0% {
      border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 90%;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #DDA0DD;
      top: 90%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #DDA0DD;
    }
  }
  
  @keyframes materia {
    0% {
      background: #DDA0DD;
    }
    50% {
      background: #DDA0DD;
      top: 10px;
    }
    100% {
      background: #DDA0DD;
      width: 100%;
      height: 76px;
      border-radius: 50px;
      top: 10px;
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 